name: firebase-emulators

on:
  pull_request:
    branches:
      - main
    paths:
      - 'images/hammer/**'
      - '.github/actions/docker-build-push/**'
      - '.github/workflows/firebase_emulators.yml'
  push:
    tags:
      - 'hammer/**'

jobs:
  build-and-push:
    name: build and push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build and Push
        uses: ./.github/actions/docker-build-push
        with:
          image_name: 'firebase-emulators'
          context_path: './images/firebase-emulators'
          registry_password: ${{ secrets.GITHUB_TOKEN }}
          do_push: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/firebase-emulators/') }}
          git_tag_prefix_for_version: 'firebase-emulators/'
